
.projectImage{
    width: 80%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.projectImageSmall{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    overflow:auto;
}

.projectImageLHS{
    display: block;
    float:left;
    width: 45%;
    margin-right: 20px;
}

.projectImageRHS{
    display: block;
    float:left;
    width: 45%;
}

ul{
    list-style-type:none;
}

#miniProjects a{
    text-decoration: underline;
    color: var(--darkText)
}

a:hover{
    color: var(--darkBackground);
}

li{
    padding-top: 5px;
}

.portfolioBtn{
    width: 49%;
    float:center;
}

.projectSection{
    margin-top:10px;
    overflow: auto;
}

.projectTitle{
    text-align: center;
}

/*Desktop*/

@media only screen and (min-width: 768px) {


    .projectImage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }

    .YTVideo{
        width: 65%;
        height: 40%;
    }

    .projectSection{
        text-align: left;
    }


}